# fly.toml app configuration file generated for roaster on 2025-12-22T17:03:15-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'roaster'
primary_region = 'iad'

[build]

[env]
  PRIMARY_REGION = "iad"
  RACK_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[mounts]
  source = "litefs"
  destination = "/var/lib/litefs"
